<!--<h1>Fondos</h1>-->
<!--<br>-->


        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Mis Carteras</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!--<ul class="list-group">-->
            <!--<li class="list-group-item" *ngFor="let item of items">-->
                <!--{{ item.displayName }}-->
            <!--</li>-->
        <!--</ul>-->
        <!--<div class="row-fluid" *ngFor="let item of items">-->
            <!--<div class="col-lg-3 col-md-6">-->
                <!--<div class="panel panel-primary">-->
                    <!--<div class="panel-heading">-->
                        <!--<div class="row">-->
                            <!--<div class="col-xs-3">-->
                                <!--<i class="fa fa-tasks fa-5x"></i>-->
                            <!--</div>-->
                            <!--<div class="col-xs-9 text-right">-->
                                <!--<div class="huge" [ngSwitch]="item.accessflag">-->
                                    <!--<i *ngSwitchCase="1" class="fa fa-eye"></i>-->
                                    <!--<i *ngSwitchCase="2" class="fa fa-plus-square-o"></i>-->
                                    <!--<i *ngSwitchCase="4" class="fa fa-trash-o"></i>-->
                                    <!--<i *ngSwitchDefault class="fa fa-times-circle"></i>-->
                                <!--</div>-->
                                <!--<div>{{ item.displayName }}</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<a [routerLink]="['/securehome/s3', {'prefix': item.prefix + '/'}]">-->
                        <!--<div class="panel-footer">-->
                            <!--<span class="pull-left">Ver Detalles</span>-->
                            <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                            <!--<div class="clearfix"></div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

